body {
    height:100%;
    overflow: hidden;

    font-family: 'Noto Sans', sans-serif;
}

button {
    width: max-content;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;
    background-color: transparent;
}

.icon {
    width: 30px;
    height: 30px;
    object-fit: contain; /* Ensures the icon fits within defined width and height */
}

.icon:hover {
    filter: opacity(0.6) brightness(0.9) drop-shadow(0 0 0px rgba(30, 150, 255, 0.7));
}

#controlBar {
    display: inline-flex;
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: 99;
    bottom: 0;
    background-color: #ffffff;
}

#island_controlBar {
    position: absolute;
    cursor: move;
    background-color: #ffffff;
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 250px;
    border-radius: 10px;
    padding-bottom: 10px;
}

#textButtons {
    display: flex;
    padding-top: 5px;
}

#buttonSmallerFont,
#buttonBiggerFont {
    width: 23px;
    height: 23px;
    font-size: 21px;
    align-items: center;
    padding: 0;
}

#buttonSmallerFont:hover,
#buttonBiggerFont:hover {
    filter: opacity(0.6) brightness(0.9) drop-shadow(0 0 0px rgba(30, 150, 255, 0.7));
}

#textControls {
    display: flex;
    gap: 5px;
}

#textSizeLabel {
    font-size: 15px;
}

#cameraFeed {
    display: block;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

#canvasMain {
    display: none;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* Frame around the video */
#videoContainer {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#zoomControls {
    display: flex;
    margin-left: 20px;
    align-items: center;
}

#zoomSlider {
    accent-color: rgba(93, 149, 191, 0.45);
}

#buttonCollapse,
#buttonFullScreen {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 0;
    border: none;
    background: none;
    z-index: 101;
    bottom: 6px;
}

#buttonCollapse {
    right: 46px;
}

#buttonFullScreen {
    right: 6px;
}