/* Variables */

:root {
    /* Core colors */
    --text-color: #2A2A2D;              /* Generic text color */
    --text-color-contrast: #FCFCFC;     /* Text color on different backgrounds */
    --bg-color-darkest: #191818;
    --bg-color-basic: #494950;
    --bg-color-lightest: #F7F7F8;
    --general-accent-color: #2A2A2D;
    --bg-color-body: var(--bg-color-lightest);

    /* Other colors */
    --button-bg-color: rgba(151, 151, 151, 0);            /* Must have contrast to background, must have transparency */
    --remove-button-bg-color: rgba(151, 151, 151, 0.6);      /* Likely requires more visibility than other buttons */
    --link-color: #ff7633;
    --link-hover: #ffa400;
    --link-visited: #b35729;
    --link-active: #ffcc00;
    --option-bg-color: var(--button-bg-color);
    --icon-filter: ;                                /* Allows color inversion for icons */

    /* Animations and hovers */
    --general-transitions: opacity 300ms ease, background-color 25ms linear, transform 300ms ease-in-out;
    --button-bg-color-hover: var(--general-accent-color);
    --general-hover-filter: opacity(1) brightness(1);

    /* z-index default for various elements (starting values of ranges, 100 values reserved for each) */
    --zindex-visual-core: 0;               /* Core visual elements like video */
    --zindex-drawings: 200;                /* Created element */
    --zindex-textAreas: 300;               /* Created element */
    --zindex-overlays: 400;                /* Created element */

    --zindex-interface-dynamic: 700;       /* Interface elements that can go under other interface elements */
    --zindex-interface-core: 800;          /* Interface elements that must not be covered */
    --zindex-prompts: 900;                 /* Prompts that should almost always be possible to interact with */
    --zindex-modals: 1000;                 /* Modal elements that can cover everything else */

    --zindex-dev: 9000;                    /* Developer elements */

}

.lightMode {                               /* Toggleable light mode */
    --text-color: #000000;

    --bg-color-darkest: #dadada;
    --bg-color-basic: #ececec;
    --bg-color-lightest: #ffffff;

    --button-bg-color: rgba(255, 255, 255, 0.43);
    --button-bg-color-hover: var(--general-accent-color);

    --option-bg-color: rgba(173, 231, 255, 0.51);

    --icon-filter: invert(1);

    --general-accent-color: rgba(0, 178, 255, 0.6);

    --link-color: #1111ff;
    --link-hover: #4141ff;
    --link-visited: #6811ff;
    --link-active: #6161ff;
}

.darkMode {                                /* Toggleable dark mode */

}


/* Generic styles */

* {
    user-select: none;                     /* Almost nothing should be possible to select */
    transition: var(--general-transitions);
}

a {
    color: var(--link-color);
}

a:active {
    color: var(--link-active);
}

a:hover {
    color: var(--link-hover);
}

a:visited {
    color: var(--link-visited);
}

body {
    height:100%;
    overflow: hidden;

    margin: 0;
    padding: 0;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;

    background-color: var(--bg-color-body);
    color: var(--text-color);
}

.hidden {                   /* Hides visually, retains display state */
    opacity: 0;
    pointer-events: none;
}


/* Buttons, options, icons */

button {
    width: 48px;
    height: 48px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;

    filter: var(--general-hover-filter);

    background-size: cover;
    background-position: center;

    background-color: var(--button-bg-color);
    color: var(--text-color);

    transition: var(--general-transitions);
}

button:hover {
    background-color: var(--button-bg-color-hover);
}

button:not(:hover) {
    transition: background-color 100ms ease-out;
}

.buttonSmall {
    color: var(--text-color);

    width: 18px;
    height: 18px;
}

.icon {
    width: 25px;
    height: 25px;
    /* object-fit: cover;   Fill, maintain aspect ratio, crop overflow */
    object-fit: contain;   /* Fit, maintain aspect ratio, no overflow */

    filter: var(--icon-filter);
}

.icon:hover {
    filter: var(--general-hover-filter) var(--icon-filter);
}

.promptOption {
    width: 100%;
    max-width: 180px;
    height: 40px;
    padding: 0 10px 0 10px;
    border: 1px solid #2A2A2D33;
    border-radius: 6px;
    font-weight: 500;

    background-color: var(--option-bg-color);
    color: var(--text-color);
}

.promptOption.optionDefault {
    background-color: #5C5CD6;
    border-color: #4747D1;
    color: #FCFCFC;
}
.promptOption.optionDefault:hover{
    background-color: #8989ec;
}
.promptOption.optionNeutral {
    background-color: #EFEFF0;
    border-color: #E4E4E7;
    color: #4747D1;
}
.promptOption.optionNeutral:hover{
    background-color: #bed9ff;
}
.promptOption.optionNegative {
    background-color: #D6C25C;
    border-color: #D1BA47;
    color: #2A2A2D;
}
.promptOption.optionNegative:hover{
    background-color: #ecdb86;
}


/* Specific controls */

#buttonSmallerFont,
#buttonBiggerFont {
    font-size: 21px;
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

#textControls {
    display: flex;
    gap: 5px;

    justify-content: center;
    align-items: center;

    color: var(--text-color);
}


/* Core UI */

#controlBarTopContainer, #controlBarMiddleContainer, #controlBarBottomContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
    width: 100%;
}
#controlBarTopContainer {
    justify-content: flex-start;
}
#controlBarBottomContainer {
    justify-content: flex-end;
}
#controlBarMiddleContainer {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
}

#avButtons, #controlBarEndSpacer { /* Container and spacer for always visible buttons */
    display: flex;
    flex-direction: column;
    height: 48px;
    bottom: 0;
    width: 48px;

    align-items: center;
}

#avButtons {
    position: absolute;
}

#buttonFullScreen {
    aspect-ratio: 1/1;
    z-index: 899; /* TODO: Use variable, always on top of UI */
    visibility: visible;
}

#controlBar {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    width: 48px;
    height: 100%;
    z-index: 898;  /* TODO: Use variable, almost always on top of UI */
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;

    align-items: center;

    background-color: var(--bg-color-basic);
    color: var(--text-color);
}

#selectorDevice {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--text-color);

    background-color: var(--bg-color-basic);
    color: var(--text-color);
}

#zoomControls {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;

    gap: 5px;   /* FF: 2px looks good, Chrome needs more */

    color: var(--text-color);
}

#zoomSlider {
    accent-color: var(--general-accent-color);
}


/* Core video elements */

#videoContainer {
    margin-left: 48px;
    width: 100%;
    height: 100%;
    z-index: var(--zindex-visual-core);
}

#cameraFeed {
    display: block;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: var(--zindex-visual-core);

    transition: transform 130ms linear;      /* Slight smoothing for zoom */
}

#canvasMain {
    display: none;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: var(--zindex-visual-core);
}


/* Programmatically created elements */

.createdMenu {
    position: fixed;
    width: max-content;
    min-height: 48px;
    background-color: var(--bg-color-basic);
    color: var(--text-color);
    z-index: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    padding: 0 7px;
}

.menuSeparator {
    width: 1px;
    height: 38px;
    background-color: #727277;
}

.drawMenuOptionSelection {
    margin: 0 2px;
    outline: 1px solid #FFFFFF;
    outline-offset: 2px;
}

.drawMenuColorOption {
    width: 24px;
    height: 24px;
}

.drawMenuThicknessOption {
    width: 24px;
    height: 24px;
    position: relative;
    background-color: #F7F7F8;
}

.createdOverlay {
    width: 105%;
    height: 105%;
    background: linear-gradient(to bottom, #ffffff, #b19e90);
    filter: drop-shadow(0px 2px 8px rgba(237, 237, 237, 0.21));
    cursor: move;
    z-index: var(--zindex-overlays);
    position: absolute;
    left: 2%;
    top: 2%;
    overflow: hidden;
}

.createdOverlayRemoveButton {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 40px;
    height: 40px;
    display: none; /* Displayed programmatically */
    background-color: var(--remove-button-bg-color);
}

.createdTextAreaContainer {
    position: absolute;
    left: 300px;
    top: 100px;
    min-width: 240px;
    min-height: 80px;
    z-index: 301; /* TODO: Use variable if possible */
}

.createdTextArea {
    user-select: text; /* Text in text areas should be selectable */
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 30px;
    resize: none; /* Prefer custom implementation for resize */
    overflow: hidden;
    background-color: #FFFFFF;
    border: 1px solid #C8C8C8;
    border-radius: 8px;
    cursor: move; /* TODO: Will not allow for text selection cursor, related: drag handler interferes with text selection */
    z-index: 302; /* TODO: Use variable if possible */
}

.createdTextAreaContainerRemoveButton { /* TODO: JS implementation breaks class naming */
    width: 20px;
    height: 20px;
    margin-top: -18px;
    position: absolute;
    display: none;
    border-radius: 10px;
    padding-bottom: 10px;
    z-index: 303; /* TODO: Use variable if possible */

    background-color: var(--remove-button-bg-color)
}

.createdTextAreaButtonContainer {
    width: 70px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background: none;
    visibility: hidden;
    transform: translateY(-100%);
    position: relative;
    left: 8px;
}

.createdTextAreaButton {
    width: 24px;
    height: 24px;
    border: 1px solid #E7E7E7;
    background-color: #494950;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

.createdTextAreaButtonImage {
    width: 16px;
    height: auto;
    max-height: 16px;
}

.createdTextAreaButton:hover {}

.createdTextAreaButtonLarger {
    border-top-left-radius: 6px;
}

.createdTextAreaButtonSmaller {}

.createdTextAreaButtonDelete {
    border-top-right-radius: 6px;
}

.createdTextAreaResizeHandle {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
    clip-path: none;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: auto;
    z-index: 303; /* TODO: Use variable if possible */
}

.createdContentBox {
    overflow: scroll;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.4);
    z-index: 1000;
    pointer-events: all;
}

.prompt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--bg-color-lightest);
    border-radius: 8px;
    z-index: var(--zindex-prompts);
    width: 600px;
    filter: drop-shadow(0px 2px 48px #22212C26);
    border: 1px solid #2A2A2D33;
    overflow: clip;
}

.promptTitle {
    display: flex;
    align-items: center;
    font-size: 24px;
    text-align: left;
    padding-left: 24px;
    box-sizing: border-box;
    background-color: #FCFCFC;
    height: 80px;

    color: #7A7A85;
}

.promptText {
    text-align: justify;        /* Text fills horizontal space */
    margin-bottom: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 24px;
    box-sizing: content-box;    /*  Prevents padding from affecting width */
    background-color: #F7F7F8;
    border-top: 1px solid #2A2A2D20;
    border-bottom: 1px solid #2A2A2D20;
    border-left: none;
    border-right: none;

    color: var(--text-color);
}

.promptOptionContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
    gap: 20px;
    height: 80px;
}

.promptContentBox {
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    z-index: 1050;
}


/* Special behavior */

.buttonHighlight {
    background-color: var(--bg-color-lightest);
}


#island_controlBar.animate_move {
    transition: left 1s, top 1s;
}

.loader {
    width: 38px;
    height: 38px;
    border: 6px solid #494950;
    border-top: 6px solid rgba(255, 255, 255, 0);
    border-radius: 80%;
    animation: spin 1s linear infinite;
}

.animateMove {
    transition: top 400ms, left 400ms;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}


/* Development */

.developer {
    z-index: var(--zindex-dev);
}


/* Obsolete */

#island_controlBar::before {  /* Targets the element and applies the pseudo-element */
    content: "";              /* Creates an empty pseudo-element */
    display: block;           /* Ensures it behaves as block */
    height: 15px;
    width: 100%;
} /* Spacer pseudo-element (for island drag handle) is not in DOM */

#island_controlBar {
    position: absolute;
    left: 45px;
    top: 190px;
    transform: translateX(-50%) translateY(-50%);
    cursor: move;
    z-index: 897;  /* TODO: Use variable, usually on top of UI */
    display: flex;
    flex-direction: column;
    width: 60px;
    height: max-content;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

    gap: 7px;

    background-color: var(--bg-color-lightest);
    color: var(--text-color);

}