:root {
    --text-color: #ffffff;

    --bg-color-darkest: #171717;
    --bg-color-basic: #212121;
    --bg-color-lightest: #454545;

    --button-bg-color: rgba(151, 151, 151, 0.22);            /* Must have contrast to background, must have transparency */
    --button-bg-color-hover: rgba(151, 151, 151, 0.6);       /* Only needs to differ in transparency */

    --icon-bg-color: #555555FF;                              /* Must have contrast to background, including that during hover */
    --icon-filter: invert(1);                                /* Inversion for grayscale icons */

    --general-accent-color: rgba(30, 150, 255, 0.7);

    --general-hover-filter: opacity(1) brightness(1);

}

body {
    height:100%;
    overflow: hidden;

    margin: 7px;

    font-family: 'Noto Sans', sans-serif;

    background-color: var(--bg-color-basic);
    color: var(--text-color);
}

button {
    width: max-content;
    padding: 5px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;

    filter: var(--general-hover-filter);


    background-size: cover;
    background-position: center;
    border-radius: 5px;

    background-color: var(--button-bg-color);
    color: var(--text-color);
}

button:hover {
    background-color: var(--button-bg-color-hover);
}

.buttonText {
    color: var(--text-color);
}

.icon {
    width: 30px;
    height: 30px;
    object-fit: contain; /* Ensures the icon fits within defined width and height */

    filter: var(--icon-filter);
}


.icon:hover {
    filter: var(--general-hover-filter) var(--icon-filter);
}



#controlBar {
    display: inline-flex;
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: 99;
    bottom: 0;

    background-color: var(--bg-color-basic);
    color: var(--text-color);
}

#island_controlBar {
    position: absolute;
    cursor: move;
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 120px;
    height: max-content;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

    gap: 7px;

    background-color: var(--bg-color-lightest);
    color: var(--text-color);
}

#textControls {
    display: flex;
    gap: 5px;

    justify-content: center;  /* Centers buttons horizontally */
    align-items: center;      /* Centers buttons vertically */

    color: var(--text-color);
}

#buttonSmallerFont,
#buttonBiggerFont {
    width: 23px;
    height: 23px;
    font-size: 21px;
    align-items: center;
    padding: 0;
    margin: 0;
}

#buttonSmallerFont:hover,
#buttonBiggerFont:hover {
    filter: filter: var(--general-hover-filter);
}


/*
#textSizeLabel {
    font-size: 15px;
}
*/

#cameraFeed {
    display: block;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

#canvasMain {
    display: none;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* Frame around the video */
#videoContainer {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#zoomControls {
    display: flex;
    margin-left: 20px;
    align-items: center;

    color: var(--text-color);
}

#zoomSlider {
    accent-color: var(--general-accent-color);
}

#buttonCollapse,
#buttonFullScreen {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 0;
    border: none;
    background: none;
    z-index: 101;
    bottom: 6px;
}

#buttonCollapse {
    right: 46px;
}

#buttonFullScreen {
    right: 6px;
}

#selectorDevice {
    width: 200px;

    background-color: var(--bg-color-basic);
    color: var(--text-color);
}


.prompt {
    transform: translateX(-50%);
    background-color: var(--bg-color-lightest);
    border-radius: 10px;
    padding: 10px;
    z-index: 9999;
}

.promptTitle {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;

    color: var(--text-color);
}

.promptText {
    text-align: justify;        /* Text fills horizontal space */
    margin-bottom: 10px;

    color: var(--text-color);
}

.promptButtonContainer {

}

.promptButton {
    width: 100%;
    margin: 5px 0;
    border: none;
    padding: 10px;
    border-radius: 5px;

    background-color: var(--button-bg-color);
    color: var(--text-color);
}
