/* Generic */

:root {
    --text-color: #ffffff;

    --bg-color-darkest: #171717;
    --bg-color-basic: #212121;
    --bg-color-lightest: #454545;

    --button-bg-color: rgba(151, 151, 151, 0.22);            /* Must have contrast to background, must have transparency */
    --button-bg-color-hover: var(--general-accent-color);

    --option-bg-color: var(--button-bg-color);

    --icon-filter: invert(1);                                /* Inversion for grayscale icons */

    --general-accent-color: rgba(255, 141, 44, 0.5);

    --general-hover-filter: opacity(1) brightness(1);

    --link-color: #ff7633;
    --link-hover: #ffa400;
    --link-visited: #b35729;
    --link-active: #ffcc00;

    /* z-index ranges: prompts 900-1000 modals 1000-1100    dev 9000-> */

}

a {
    color: var(--link-color);
}
a:hover {
    color: var(--link-hover);
}
a:visited {
    color: var(--link-visited);
}
a:active {
    color: var(--link-active);
}

body {
    height:100%;
    overflow: hidden;

    margin: 7px;

    font-family: 'Noto Sans', sans-serif;

    background-color: var(--bg-color-basic);
    color: var(--text-color);
}

/* Light mode */

.lightMode {
    --text-color: #000000;

    --bg-color-darkest: #dadada;
    --bg-color-basic: #ececec;
    --bg-color-lightest: #ffffff;

    --button-bg-color: rgba(255, 255, 255, 0.43);
    --button-bg-color-hover: var(--general-accent-color);

    --option-bg-color: rgba(173, 231, 255, 0.51);

    --icon-filter: invert(0);

    --general-accent-color: rgba(0, 178, 255, 0.6);

    --link-color: #1111ff;
    --link-hover: #4141ff;
    --link-visited: #6811ff;
    --link-active: #6161ff;
}

* {
    user-select: none;
}

/* Generic animations */



/* Generic buttons */

button {
    width: max-content;
    min-width: 30px;
    min-height: 30px;
    padding: 5px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;

    filter: var(--general-hover-filter);

    background-size: cover;
    background-position: center;
    border-radius: 5px;

    background-color: var(--button-bg-color);
    color: var(--text-color);
}

button:hover {
    background-color: var(--button-bg-color-hover);
}

.buttonSmall {
    color: var(--text-color);

    min-width: 23px;
    min-height: 23px;
}

.icon {
    width: 30px;
    height: 30px;
    object-fit: contain; /* Ensures the icon fits within defined width and height */

    filter: var(--icon-filter);
}

.icon:hover {
    filter: var(--general-hover-filter) var(--icon-filter);
}

.promptOptionContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;

    gap: 0;
}

.promptOption {
    width: 100%;
    margin: 4px 0;
    border: none;
    padding: 10px;
    border-radius: 5px;

    background-color: var(--option-bg-color);
    color: var(--text-color);
}

/* Specific controls */

#zoomControls {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;

    gap: 5px;   /* FF: 2px looks good, Chrome needs more */

    color: var(--text-color);
}

#zoomSlider {
    accent-color: var(--general-accent-color);
}

#buttonCollapse,
#buttonFullScreen {
    aspect-ratio: 1/1;
    position: absolute;
    margin: 5px;
    z-index: 101;
    bottom: 0;
}

#buttonCollapse {
    right: 56px;
}

#buttonFullScreen {
    right: 6px;
}

#textControls {
    display: flex;
    gap: 5px;

    justify-content: center;
    align-items: center;

    color: var(--text-color);
}

#buttonSmallerFont,
#buttonBiggerFont {
    min-width: 23px;
    min-height: 23px;
    font-size: 21px;
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

#buttonSmallerFont:hover,
#buttonBiggerFont:hover {
    filter: filter: var(--general-hover-filter);
}

/* Core UI */

#controlBar {
    display: inline-flex;
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: 99;
    bottom: 0;

    align-items: center;

    background-color: var(--bg-color-darkest);
    color: var(--text-color);
}

#selectorDevice {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--text-color);

    background-color: var(--bg-color-basic);
    color: var(--text-color);
}

#island_controlBar {
    position: absolute;
    cursor: move;
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 120px;
    height: max-content;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

    gap: 7px;

    background-color: var(--bg-color-lightest);
    color: var(--text-color);
}

/* Core elements */

#cameraFeed {
    display: block;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

#canvasMain {
    display: none;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#videoContainer {
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Programmatically created elements */

.prompt {
    transform: translateX(-50%);
    background-color: var(--bg-color-lightest);
    border-radius: 10px;
    padding: 10px;
    z-index: 900;
}

.promptTitle {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;

    color: var(--text-color);
}

.promptText {
    text-align: justify;        /* Text fills horizontal space */
    margin-bottom: 10px;

    color: var(--text-color);
}

